* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding-top: 30px;
    background-color: #1e6eb3;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav div{
    height: 30px;
    flex-grow: 4;
    padding: 10px;
}

nav div img {
    height: 100%;
}
#profilepic{
    float: right;
    border-radius:50px;
}

nav input {
    box-sizing: border-box;
    height: 30px;
    width: 60%;
    margin: 0;
    padding: 5px 0px 5px 0px;
    border: 1px solid silver;
}
.btn {
    background-color: rgb(36, 63, 216);
    float: left;
    border: none; 
    color: white; /* White text */
    padding: 4px 16px 4px 16px;
    font-size: 20px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 5px;
    width : 50px;
    margin: 3%;
  }
nav button{
    background: rgb(36, 63, 216);
    color: white;
    padding: 4px 20px 4px 20px;
    margin: 2px;
    border-radius: 5px;
    border-color:  rgb(36, 63, 216);
    font-weight: bolder;
}

.container{
    display: flex;
    flex-direction: column;
    background: white;
    align-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1px;
    position: relative;
    text-align: center;
}

.container > div{
    display: flex;
    flex-direction: column;
    background: white;
    align-content: center;
    -webkit-box-shadow: -1px 1px 5px 7px #d3d3d3;
    -moz-box-shadow: -1px 1px 5px 7px #d3d3d3;
    box-shadow: -1px 1px 5px 7px #d3d3d3;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1px;
    position: relative;
    text-align: center;
}
.headers {
    display: flex;
    flex-direction: row;
}
.container > div > div+img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.container > div >div #profilepic{
    padding: 2% 2% 2% 2%;
    float: left;
    height: 50px;
    width: 50px;
border-radius: 50px;
}

.container > div>div h1{
    font-size: 75%;
    float: right;
    color: #9e9e9e;
   margin-left: auto;
   padding: 2% 2% 2% 2%;
}

.container > div p {
    text-align: left;
    font-size:100%;
    font-weight: bolder;
    color: #3d4849;
    padding: 2% 2% 2% 2%;
}
